<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
</head>

<body>
  <h1>Group Name:{{groupname}}</h1>
  <textarea id="chat-log" cols="100" rows="20"></textarea><br>
  <input type="text" id="chat-message-input" size="100"><br>
  <input type="button" value="Send" id="chat-message-submit">
  {{groupname|json_script:"group-name"}}

  <script>
    const groupName = JSON.parse(document.getElementById('group-name').textContent)
    console.log('Group Name in Client...', groupName)
    //var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/')
    var ws = new WebSocket('ws://' + window.location.host + '/ws/ac/' + groupName + '/')
    ws.onopen = function () {
      console.log('Websocket Connection open...')
    };
    ws.onmessage = function (event) {
      console.log('Message Received from Server...', event.data)
      console.log('Type of Message Received from Server...', typeof (event.data))
      const data = JSON.parse(event.data)   // String to Object
      console.log('Parsed Data...', data)
      console.log('Type of Parsed Data...', typeof (data))
      console.log('Actual Message...', data.msg)
      document.querySelector('#chat-log').value += (data.msg + '\n') // append the data.msg to its value
    };
    ws.onclose = function (event) {
      console.error('Websocket Connection closed unexpectedly...');
    };

    document.getElementById('chat-message-submit').onclick = function (event) {
      const messageInputDom = document.getElementById('chat-message-input')
      const message = messageInputDom.value
      ws.send(JSON.stringify({      // Object to String
        'msg': message
      }))
      messageInputDom.value = ''
    }
  </script>
</body>
</html>