<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Count Page</h1>
  <h2 id="ct"></h2>

  <script>
    var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

    ws.onopen = function () {
      console.log('Websocket connection open...')
      ws.send('Hi, Message from Client to Server...')
    }

    ws.onmessage = function (event) {
      console.log('EVENT...', event)
      console.log('Message Received from Server...', event.data)
      document.getElementById("ct").innerText = event.data
    }

    {% comment %} ws.onmessage = function (event) {
      console.log('EVENT...', event)
      console.log('Message Received from Server...', event.data)
      console.log('Type of Event Data', typeof (event.data))
      var data = JSON.parse(event.data)
      console.log('Parsed Data', data)
      console.log('Type of Parsed Data', typeof (data))
      document.getElementById("ct").innerText = data.count
    } {% endcomment %}

    ws.onerror = function (event) {
      console.log('Websocket Error Occurred...', event)
    }
    ws.onclose = function (event) {
      console.log('Websocket Connection Closed...', event)
    }

  </script>
</body>

</html>